<div class="lj-content">
  <div class="row">
      <div class="col-2">
          <h3>Download</h3>
      </div>
  </div>
 
  <!-- buttons -->
  <div class="row">
    <div class="col-4">
     <button type="button" class="btn btn-outline-primary">Primary</button>
    </div>
    <div class="col-4">
      <button type="button" class="btn btn-outline-secondary">Secondary</button>
    </div>
    <div class="col-4">
      <button type="button" class="btn btn-outline-success">Success</button>
    </div>
  </div>

  <div class="row">
      <div class="col-12">

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
      </div>
  </div>
</div>



