
body {
    background: url('assets/image/background/background.jpg') top center fixed no-repeat;
    background-size:cover;
}

a {color:orange;}

a:hover {
    color:orangered !important;
}

footer {
    width:100%;
    margin-top:50px;
    background:#fff !important;
}

footer p {
    text-align:center;
}

.navbar-dark {
    background:#000 !important;
}

.list-group-sidebar {
    margin-left: -30px !important;
}

.list-group-sidebar li {
    border-radius:0 !important;
}

/** Lejla **/

.lj-content {
    background:#fff;
    padding-left:15px;
    padding-top:15px;
    padding-bottom:15px;
    padding-right:15px;
}

.lj-content-dark {background:#111 !important;}