<div class="container">
    <div class="row">
        <div class="col-12">
            <nav class="navbar navbar-expand navbar-dark bg-dark">
                <!-- Navbar content -->
                <a class="navbar-brand" routerLink="/" routerLinkActive="active"><b>Flyff</b></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/" routerLinkActive="active">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/Download" routerLinkActive="active">Download</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Ranking
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" routerLink="/Ranking/Player" routerLinkActive="active">Player</a>
                                <a class="dropdown-item" routerLink="/Ranking/Guild" routerLinkActive="active">Guild</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" routerLink="/Ranking/Guildwar" routerLinkActive="active">Guildwar</a>
                                <a class="dropdown-item" routerLink="/Ranking/Guildwar/Single" routerLinkActive="active">1on1 Guildwar</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/FAQ" routerLinkActive="active">FAQ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/Support" routerLinkActive="active">Support</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/Wiki" routerLinkActive="active">Wiki</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/Registration" routerLinkActive="active">Registration</a>
                        </li>
                    </ul>
                    <div class="my-2 my-lg-0">
                        <a routerLink="/Login" routerLinkActive="active" class="btn btn-warning">Login</a>
                    </div>
                </div>
                <!-- Navbar content ends -->
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <router-outlet></router-outlet>
        </div>
        <div class="col-4">
            <ul class="list-group list-group-sidebar">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>
    </div>
</div>

<footer>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-3">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a class="nav-link" routerLink="/" routerLinkActive="active">Home</a></li>
                <li class="list-group-item"><a class="nav-link" routerLink="/Download" routerLinkActive="active">Download</a></li>
                <li class="list-group-item"><a class="nav-link" routerLink="/Download" routerLinkActive="active">Ranking</a></li>
            </ul>
        </div>
        <div class="col-1"></div>
        <div class="col-3">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a class="nav-link" routerLink="/Login" routerLinkActive="active">Login</a></li>
                <li class="list-group-item"><a class="nav-link" routerLink="/Registration" routerLinkActive="active">Registration</a></li>
                <li class="list-group-item"><a class="nav-link" routerLink="/Support" routerLinkActive="active">Support</a></li>
            </ul>
        </div>
        <div class="col-1"></div>
        <div class="col-3">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a class="nav-link" routerLink="/FAQ" routerLinkActive="active">FAQ</a></li>
                <li class="list-group-item"><a class="nav-link" routerLink="/Registration" routerLinkActive="active">Wiki</a></li>
                <li class="list-group-item"><a class="nav-link" routerLink="/Imprint" routerLinkActive="active">Imprint</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>Copyright &copy; 2018-2018 by <a href="#">Flyff Community</a>.
                Credits goes to
                <a href="#">Xsrf</a>,
                <a href="#">Lejla</a>
            </p>
        </div>
    </div>
</footer>

