<div class="lj-content">
    <div class="row">
        <div class="col-2">
            <h3>Registration</h3>
        </div>
    </div>
    <div class="row">
        <!-- left -->
        <div class="col-6">
            <div class="form-group">
                <label for="exampleInputEmail1">Username*</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">Gib deinen usernamen ein.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">Gib deine email adresse ein.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password*</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Birthday*</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter birthady">
                <small id="emailHelp" class="form-text text-muted">Gib deinen geburstag ein .</small>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">secretquestions*</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter secretquestions">
                <small id="emailHelp" class="form-text text-muted">Gib deine geheimfrage ein.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">secretreply*</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter secretreply">
                <small id="emailHelp" class="form-text text-muted">Gib deine geheinantwort ein.</small>
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <!-- right -->
        <div class="col-6">
                <div class="form-group">
                        <label for="exampleInputEmail1">Nickname</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">Gibe deinen nicknamen ein.</small>
                    </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address repeat*</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email repeat">
                <small id="emailHelp" class="form-text text-muted">Wiederhol deine email.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password Repeat</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password repeat">
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
        </div>
    </div>
</div>