
<ul class="list-group list-group-flush lj-content">
    <h2>FAQ</h2>
    <li class="list-group-item">
      <h4>Wie findet ihr das Bild?</h4>
      <p>Ja, es ist eine Frage.</p>
    </li>

    <li class="list-group-item">
      <h4>Wie findet ihr die Grafik?</h4>
      <p>Ja, es ist eine Frage.</p>
    </li>

    <li class="list-group-item">
      <h4>Wie findet ihr das allgein?</h4>
      <p>Ja, es ist eine Frage.</p>
    </li>

    <li class="list-group-item">
      <h4>Wie findet ihr das Wetter?</h4>
      <p>Ja, es ist eine Frage.</p>
    </li>
  
</ul>


